
<div class="contact_form">
    <%= simple_form_for @site_contact, :url => create_parceiro_parceiro_index_path, :method => :post, :remote => :true do |f| %>
          <div class="box-dados">
            <%= f.input :name, :label=>"Nome:"%>
            <%= f.input :numero, :label=>"N:", :required=>true %>
            <%= f.input :rua, :label=>"Rua:", :required=>true %>
            <%= f.input :bairro, :label=>"Bairro:", :required=>true %>
            <%= f.input :estado, :label=>"Estado:", collection: ["SP", "RJ"] %>
            <%= f.input :cidade, :label=>"Cidade:" %>            
            <%= f.input :cep, :label=>"Cep:", :required=> true %>
            <%= f.input :telefone, :label=>"Fone:" %>
            <%= f.input :cpf_cnpj, :label=>"CPF/CNPJ:", :required=>true %>
            <%= f.input :email, :label=> "E-mail:" %>            
          </div>
          <div class="submit">
           <%= f.submit "Enviar", :id => 'enviar' %>
          </div>
    <% end %>
</div>