<div class="titulo_paginas">
  <div class="center">
    <p class="txt_titulo_paginas">Flambador</p>
  </div>
</div>

<div class="conteudo_paginas">
  <div class="center">
    
    <h3>O que é um Flambador?</h3>
    
    <p id="texto_produtos">
       Flambador que em algumas regiões também é chamado de AQUECEDOR nada mais é do que um equipamento usado para aquecer os marcadores até que os mesmos estejam no ponto para "Tatuar" o couro do animal.  
    </p>
    
    <nav id="nav_produtos">
      <ul id="ul_produtos">
        
        <li>
          <p>Flambador</p>
          <%= image_tag 'flambadores/10.jpg' %>
        </li>
        
        <li>
          <p>Flambador</p>
          <%= image_tag 'flambadores/11.jpg' %>
        </li>
        
        <li>
          <p>Flambador</p>
          <%= image_tag 'flambadores/12.JPG' %>
        </li>
        
        <li>
          <p>Flambador</p>
          <%= image_tag 'flambadores/10.jpg' %>
        </li>
        
        <li>
          <p>Flambador</p>
          <%= image_tag 'flambadores/11.jpg' %>
        </li>
        
        <li>
          <p>Flambador</p>
          <%= image_tag 'flambadores/12.JPG' %>
        </li>
                
      </ul>
    </nav>
    
        
  </div>
</div>
