
<div id="banner">
  
  <div class="center">
    
    <div id="slider">
      
      <ul class="rslides">
        <li><%= image_tag 'banner/index_banner_1.png', :alt=>"" %> 
          <p class="texto_banner_titulo texto_banner_color">JOGO DE NÚMEROS</p>
          <p class="texto_banner texto_banner_color">
            confeccionados em aço inox
          </p> 
          <div class="link_banner">
            <%= link_to 'veja mais', new_produto_path(:param => "jogonumero"), :remote => :true, :class => "link" %>
          </div>
        </li>
        
        <li><%= image_tag 'banner/index_banner_2.png', :alt=>"" %>
          <p class="texto_banner_titulo texto_banner_color">FOGAREIRO</p>
          <p class="texto_banner texto_banner_color">
            atualmente os melhores, mais econômicos  e mais práticos.
          </p>          
          <div class="link_banner">
            <%= link_to 'veja mais', new_produto_path(:param => "flambadores"), :remote => :true, :class => "link" %>
          </div>
        </li>
      </ul>
    
    </div>    
    
  </div>
</div>

<div class="conteudo">
  <div class="center">
    <div id="homeconteudo">
    
      <%= image_tag 'Dinox_1.jpg', :id => 'imghome' %>
      
      <h3>A Empresa</h3>
      
      <p id="texto_home">
        Marcas que fazem História...<br><br>
        A Dinox Marcadores em Aço Inox é  uma empresa atuante no ramo de marcadores 
        para animais em aço inox, com uma tradição de mais de 50 anos passada de pai 
        para filho. A DINOX foi uma empresa que deu continuidade a este trabalho evoluindo 
        para o aço inox, mas mantendo a tradição e não perdendo a filosofia de sua 
        qualidade e satisfação de seus clientes.
      </p>
    
    </div>
    
  </div>
</div>