<h1>Formulario de contato</h1>

<p>
  <b>Nome:</b>
  <%= @contact.name%>
</p>

<p>
  <b>Rua:</b>
  <%= @contact.rua %>
</p>

<p>
  <b>Número:</b>
  <%= @contact.numero %>
</p>

<p>
  <b>Bairro:</b>
  <%= @contact.bairro %>
</p>

<p>
  <b>Cidade:</b>
  <%= @contact.cidade %>
</p>

<p>
  <b>Estado:</b>
  <%= @contact.estado %>
</p>

<p>
  <b>Cep:</b>
  <%= @contact.cep %>
</p>

<p>
  <b>Telefone:</b>
  <%= @contact.telefone%>
</p>

<p>
  <b>CPF/CNPJ</b>
  <%= @contact.cpf_cnpj %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email%>
</p>

<p>
  <b>Mensagem:</b>
  <%= @contact.message%>
</p>